# Virtual environment
venv/

# Compiled python files
__pycache__/

# Database file
db.sqlite3

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Testing
# **/finalcat/*
# !**/finalcat/a.txt
# /*/*/finalcat/*
# !/*/*/finalcat/b.txt
